@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: linen;
}
/* has divs inside, makes them only fill 85% of the space, sit in middle of page, and anything that hangs outside of "container" is hidden */
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}
/* pushes the lists up against the very edge of the element */
ul {
    margin: 0;
    padding: 0;
    
}
/* changes look of submit buttons */
.btn-1 {
    height: 38px;
    background-color: lightcoral;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
/* sets size of separate divs */
.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sets light bkgrnd, dark text */
.light {
    background-color: linen;
    color: rgb(44, 15, 78);
}
/* sets dark bkgrnd, light text */
.dark {
    background-color: rgb(44, 15, 78);
    color: linen;
}
/* bkgrnd and text color, min height, border/line across top of page,  */
header {
    background-color: rgb(44, 15, 78);
    color: linen;
    min-height: 70px;
    border-bottom: 3px solid lightcoral;
    padding: 5px 0;
}
/* makes title and links spread out */
header .container {
    display: flex;
    justify-content: space-between;
}
/* makes list go to middle center of header */
header ul {
    height: 100%;
    display: flex;
    align-items: center;
}
/* removes dots, spreads them out */
header li {
    list-style: none;
    padding: 0 20px;
}
/* sets color, removes link underlines */
header a {
    color: linen;
    text-decoration: none;
    font-size: 18px;
}
/* changes color of select words */
header .highlight, header #current a {
    color: lightcoral;
    font-weight: bold;
}
/* hover effect */
header a:hover {
    color: lightsalmon;
    font-weight: bold;
}
/* wil be at least this high but will grow if necessary,s ets bg img andposition */
#showcase {
    min-height: 400px;
    background-image: url(laptop.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: linen;
    border-bottom: 3px solid lightcoral;
}
/* moves it down from top, gives room btwn writing */
#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

#newsletter {
    background-color: rgb(44, 15, 78);
    color: linen;
    padding: 15px;
    border-bottom: 3px solid lightcoral;
}
/* spacing out contents and centering */
#newsletter .container {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}
/* matching size of email input to button */
#newsletter input {
    padding: 5px;
    height: 25px;
    width: 250px;
}

#boxes {
    margin-top: 20px;
    border-bottom: 3px solid lightcoral;
}

/* spacing and aligning */
#boxes .container {
    display: flex;
    justify-content: space-between;
}

#boxes .box {
    width: 30%;
    text-align: center;
    padding: 10px;
}
/* setting space, color, size of logos */
#boxes .box i {
    font-size: 225px;
    margin: auto;
}
#boxes .box .fa-html5 {
    color: peru;
    margin: auto;
}
#boxes .box .fa-css3-alt {
    color: rgb(60, 60, 206);
    margin: auto;
}
#boxes .box .fa-js {
    color: rgb(221, 186, 97);
    margin: auto;
}

#about {
    background-color: rgb(44, 15, 78);
    padding: 20px;
    border-bottom: 3px solid lightcoral;
}
/* turning into grid to specify spacing/placement */
#about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

#about .main-col {
    color: linen;
}
#about .highlight {
    color: lightcoral;
    font-weight: bold;
    font-size: 25px;
}
#about .sidebar {
    margin-top: 50px;
}

#services .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#services li {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
/* moving it to be even with other column */
#services .sidebar {
    margin-top: 50px;
}
/* making input areas same size */
#services input, #services textarea {
    padding: 5px;
    width: 90%;
}
#services .highlight {
    color: lightcoral;
    font-weight: bold;
    font-size: 25px;
}

footer {
    background-color: rgb(44, 15, 78);
    border-top: 3px solid lightcoral;
    padding: 20px;
    color: linen;
    font-size: 20px;
    text-align: center;
}
/* adjusting to stack components when screen size changes */
@media (max-width: 768px){
    header .container, 
    #newsletter .container, 
    #boxes .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
/* padding when a bkgrnd pic, not margin - will give white space */
    #showcase .container {
        padding-bottom: 50px;
    }

    #boxes .container .box {
        width: 80%;
    }

    #about .container,
    #services .container {
        grid-template-columns: 1fr;
    }
}