@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: rgb(235, 235, 250);
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.btn-1 {
    height: 38px;
    background-color: lightcoral;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light {
    background-color: rgb(235, 235, 250);
    color: rgb(44, 15, 78);
}

.dark {
    background-color: rgb(44, 15, 78);
    color: linen;
}